<ion-content class="loginPage"> 
  <div class="container">
     <div class="login-header">
        <ion-avatar item-center>
            <img src="./assets/imgs/ExpenseAnalysis_Logo.png" class="login-logo">
        </ion-avatar>      
     </div>
     <div class="login-body">
        <ion-card class="login-card">
            <ion-list>                  
              <ion-item>
                   <ion-icon name="person" item-start></ion-icon>
                   <ion-input type="text" placeholder="Username" [(ngModel)]="loginData.username"></ion-input>
              </ion-item>  
              <span *ngIf="loginData.username!=''">
                <div class="error">{{userNameError}}</div>  
            </span>
              <ion-item>
                <ion-icon name="lock" item-start></ion-icon>
                <ion-input type="password" placeholder="Password" [(ngModel)]="loginData.password"></ion-input>
              </ion-item>  
              <span *ngIf="loginData.password!=''">
                <div class="error">{{passwordError}}</div>  
              </span>
              <ion-item>
                  <ion-label>Keep me signed in.</ion-label>
                  <ion-checkbox [(ngModel)]="isKeepmeSigned" item-start></ion-checkbox>   
              </ion-item>                        
              <ion-item>             
                   <button ion-button class="signin-btn" color="primary" block (click)="doLogin()" padding>Sign In</button>
              </ion-item>  
              <ion-item>
                <ion-row>
                  <ion-col>
                      <button ion-button class="transparent-btn" (click)="doLogin()" padding>Forgot password? </button>
                  </ion-col>
                  <ion-col>
                      <button ion-button class="transparent-btn" (click)="CreateAccount()" padding>Sign Up for free!</button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-card>
     </div>
  </div>
</ion-content>