page-register {

  .scroll-content{
    display: flex;
    align-items: center !important;
    background-image: url('/assets/imgs/BackgroundImage.png')
  }
    .login-content {
      background: #56CA96;
   
      .login-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
   
       .submit-btn {
         background: #51CFB1;
         border-radius: 30px !important;
         border: 1px solid #ffffff;
       }
    }

    .error{
      color: red;
      padding-left: 15px;
     }
     .form-class
     {
       background: lightgrey;
     }
     .login-card
     {
       margin-top:40px;
       border-radius: 5%;
     }
    
     ion-avatar img
     {
       width:150px;
       @media only screen and (min-width:768px){  
        width: 250px;
       }
       @media only screen and (min-width:1024px){
        
          width: 400px;
         }
     }

     .wrapper
     {
       width:150px;
       height:150px;
       margin: 25px auto;
       overflow: hidden;
       border-radius:50%;
       position: relative;
       background: Red;
       @media only screen and (min-width: 768px)
       {
         width:250px;
         height:250px;
       }
     }
     .form-row
     {
       justify-content: center;
     }
     .avatar-row
     {
       justify-content: center;
     }
  }
 